@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
    background-image: url("../img/dynamic.png");
}

img {
    border-radius: 10%;
   
}

.square {
    width: 150px;
    height: 150px;
    background-color: tomato;
    float: right;
    margin: 70px;
    font-family: Montserrat;
    position: relative;
    top: 25px;
    bottom: 250px;
}


